---
apiVersion: stackgres.io/v1
kind: SGCluster
metadata:
  name: {{ .Release.Name }}
spec:
  postgres:
    version: {{ .Values.postgresVersion | quote }}
  instances: {{ .Values.instances }}
  sgInstanceProfile: {{ .Release.Name }}
  pods:
    persistentVolume:
      size: {{ .Values.persistentVolume.size }}
      storageClassName: {{ .Values.persistentVolume.storageClassName }}
  configurations:
    sgPoolingConfig: {{ .Release.Name }}
    sgPostgresConfig: {{ .Release.Name }}
    observability:
      prometheusAutobind: {{ .Values.prometheusAutobind }}
{{- if .Values.scripts }}
  managedSql:
    continueOnSGScriptError: {{ .Values.continueOnSGScriptError }}
    scripts:
{{- $scriptNames := keys .Values.scripts }}
{{- range $index, $name := $scriptNames }}
{{- $script := index $.Values.scripts $name }}
      - id: {{ add $index 1 }}
        sgScript: {{ $name }}
{{ end }}
{{- end }}
