---
apiVersion: stackgres.io/v1
kind: SGInstanceProfile
metadata:
  name: size-xsmall
spec:
  cpu: "1"
  memory: 2Gi

---
apiVersion: stackgres.io/v1
kind: SGPostgresConfig
metadata:
  name: keycloak
spec:
  postgresVersion: "17"
  postgresql.conf:
    shared_buffers: 512MB
    random_page_cost: "1.5"
    password_encryption: scram-sha-256
    log_checkpoints: "on"

---
apiVersion: stackgres.io/v1
kind: SGScript
metadata:
  name: keycloak
spec:
  scripts:
  - name: create-keycloak-db-and-user
    scriptFrom:
      secretKeyRef:
        name: keycloak-database
        key: bootstrap.sql

---
apiVersion: stackgres.io/v1
kind: SGCluster
metadata:
  name: keycloak-db
spec:
  postgres:
    version: "17"
  instances: 3
  sgInstanceProfile: size-xsmall
  pods:
    persistentVolume:
      size: 1Gi
  configurations:
    sgPostgresConfig: keycloak
    # sgPoolingConfig: poolconfig1
    # backups:
    #   - sgObjectStorage: backupconfig1
    #     cronSchedule: '*/5 * * * *'
    #     retention: 6
    observability:
      prometheusAutobind: true
  managedSql:
    scripts:
      - sgScript: keycloak-database
  # distributedLogs:
  #   sgDistributedLogs: 'distributedlogs'
