{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "aerith.fullname" . }}-manager-role
  labels:
    {{- include "aerith.labels" . | nindent 4 }}
rules:
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - core.aerith.io
  resources:
  - engineeringsolutions
  - engineeringtasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.aerith.io
  resources:
  - engineeringsolutions/finalizers
  verbs:
  - update
- apiGroups:
  - core.aerith.io
  resources:
  - engineeringsolutions/status
  - engineeringtasks/status
  verbs:
  - get
  - patch
  - update
{{- end }}
