{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "aerith.fullname" . }}-manager-role
  labels:
    {{- include "aerith.labels" . | nindent 4 }}
rules:
- apiGroups:
  - core.aerith.io
  resources:
  - engineeringsolutions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.aerith.io
  resources:
  - engineeringsolutions/finalizers
  verbs:
  - update
- apiGroups:
  - core.aerith.io
  resources:
  - engineeringsolutions/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - core.aerith.io
  resources:
  - engineeringtasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.aerith.io
  resources:
  - engineeringtasks/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
{{- end }}
